#about{
	width: 800px; 
	border: 1px solid green; 
	z-index: 1; 
	background-color: #F0FFF0;
	height: 300px;
	font-size: 20px;
	padding-left: 50px; 
	padding-right: 50px; 
	padding-bottom: 40px; 
 
}

#pi{ 
position: relative; 
top: 82px; 
right: 152px; 
padding: 10px; 
width: 220px;
transform: rotate(90deg);
background-color: lightgreen;
border-left: 6px solid green;
z-index: 2; 
} 

