<!DOCTYPE html>
<html >
<head>  
<title>my project</title>
  <link rel="stylesheet" href="home.css">
  
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" type="text/css" href="font-awesome.min.css">
  <link rel="stylesheet" href="footer.css">
  <link rel="stylesheet" href="nav_search.css">
  <link rel = "stylesheet" href = "about.css"> 
    

</head>
<body>
    <div class="flexbox"></div>
<header id="headpage">
    <a href="http://www.aub.edu.lb/fafs/Pages/default.aspx" class="logo">
        <img src="images/aub-log1.png">
        <span class="fontsmall">Landscape Design & Ecosystem Management</span>
        <span class="fontnormal">Faculty of Agriculture & Food Sciences</span>

    </a>

    <nav>
		<ul> 

			<li>
                <a href="/">Home <i class="icon-chevron-down"></i></a> 
				<ul>
					<li><a href="searchbyname.html" >Search By Name</a></li>
					<li><a href="plantidentifaction.html">Plant identfication</a></li>
                    <li><a href="editpage.html">Edit plant Database</a></li>
				</ul>
                <li><a href="about.html">About Us</a></li>
                <li><a href="usefulink.html">Useful Links</a></li>
			<li><a href="/imagegallary">Image Gallery</a></li>
	
			<li><a href="Popular_Plant_Categories.html">Popular Plant Categories</a></li>
			<li><a href="gloccery.html">Glossary</a></li>
			<li><a href="contactus.html">Contact</a></li>
		</ul>
	</nav>

    <div id="socialmedia">
        <a href="https://twitter.com/AUB_Lebanon?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a>
        <a href="https://www.facebook.com/aub.edu.lb/" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a>
        <a href="http://www.aub.edu.lb/Libraries/Pages/default.aspx" class="icon-button google-plus"><i class="icon-google-plus"></i><span></span></a>
    </div>

</header>    
<div id="mainimg"></div>   

<div id="part2flex">
<div id="divofimges">

<a href="searchbyname.html"> <div  class="searchtype" >
<img src="images/search1.jpg" alt="" >
<h3>Search By Name</h3>
</div></a>
<a href="plantidentifaction.html"> <div  class="searchtype">
    <img src="images/icon.png" alt="" srcset="">
    <h3>Plant identfication</h3>
</div></a>
<a href="editpage.html"><div  class="searchtype">
    <img src="images/edit.png" alt="" srcset="">
    <h3>Edit plant Database</h3>
</div></a>
   
</div>
<div id="searchengine" style="padding:30px">
   


    <div id ="about">
        <p id = "pi"> Acknowledgments</p> 
        <p id = "aboutp"> 
  
The publication of this landscape database wouldn’t have been possible without the great support of the landscape database team. We would like to express the deepest sense of gratitude for the IT team, Dania El-Ashi, as well as Fadi Khoury, and Chukri Soueidi for their valuable support and their assistance in the technical work. Recognition and gratitude are also addressed to Sara Jawad for providing the graphic design for the website. Special thank you is also addressed to the students who helped in compiling plant information, we mention: Rim Hazim, Mira Semaan, Joude Mabsout, Zeina Maaz, Dalia Faris, Salem El Saudi as well as for all those who contributed by providing plant pictures, we mention: George Battikha, Khaled Sleem/ NCC, Janayeh Nursery/ Kuwait, Hala Chmaitelly / Surface Design
    </p> 
        </div>


	</div>





</div>


    <div class="w3hubs-footer">
        <div class="w3hubs-nav1">
            <ul>

                <li><a href="https://www.aub.edu.lb/Libraries/Services/Pages/Copyright.aspx">© Copyright</a></li>
                <li><a href="https://www.mongodb.com/">Citing the plant Database</a></li>
                <li><a href="acknolgement.html">Acknowledgments</a></li>
                <li><a href="contactus.html">Contact Us</a></li>
                  
            </ul>
        </div>
     </div>




</body>
</html>