<!DOCTYPE html>
<html >
<head>
  <link rel="stylesheet" href="mainhome.css">
    <title>my project</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" type="text/css" href="font-awesome.min.css">
  <link rel="stylesheet" href="footer.css">
  <script src="home.js"></script>
    

</head>
<body>
    <div class="flexbox"></div>
<header id="headpage">
    <a href="http://www.aub.edu.lb/fafs/Pages/default.aspx" class="logo">
        <img src="images/aub-log1.png">
        <span class="fontsmall">Landscape Design & Ecosystem Management</span>
        <span class="fontnormal">Faculty of Agriculture & Food Sciences</span>

    </a>

    <nav>
		<ul> 

			<li>
                <a href="/">Home <i class="icon-chevron-down"></i></a> 
				<ul>
					<li><a href="searchbyname.html" >Search By Name</a></li>
					<li><a href="plantidentifaction.html">Plant identfication</a></li>
                    <li><a href="editpage.html">Edit plant Database</a></li>
				</ul>
                <li><a href="about.html">About Us</a></li>
                <li><a href="usefulink.html">Useful Links</a></li>
			<li><a href="/imagegallary">Image Gallery</a></li>
	
			<li><a href="Popular_Plant_Categories.html">Popular Plant Categories</a></li>
			<li><a href="gloccery.html">Glossary</a></li>
			<li><a href="contactus.html">Contact</a></li>
		</ul>
	</nav>

    <div id="socialmedia">
    <a href="https://twitter.com/AUB_Lebanon?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a>
    <a href="https://www.facebook.com/aub.edu.lb/" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a>
    <a href="http://www.aub.edu.lb/Libraries/Pages/default.aspx" class="icon-button google-plus"><i class="icon-google-plus"></i><span></span></a>
</div>

</header>    
<div id="mainimg"></div>   
<div id="bodypart2">

<div id="divofimges">

<a href="searchbyname.html"> <div  class="searchtype">
<img src="images/search1.jpg" alt="" srcset="">
<h2>Search By Name</h2>
</div></a>
<a href="plantidentifaction.html"> <div  class="searchtype">
    <img src="images/icon.png" alt="" srcset="">
    <h2>Plant identfication</h2>
</div></a>
<a href="editpage.html"><div  class="searchtype">
    <img src="images/edit.png" alt="" srcset="">
    <h2>Edit plant Database</h2>
</div></a>
   
</div>


<h1  style="border-bottom: 5px solid #6CB00B; width: 160px;">About Us</h1>
<p id="aboutus" style="display: inline;">   the Department of landscape design and ecosystem management has developed this plant database site in line with the department’s ecological orientation thus the database is focusing on native, naturalized, and ecologically suitable plant species for the middle east region. </p ><span id="more" style="color: #6CB00B; text-decoration:underline; display: inline; cursor: pointer;"> more</span>



<div id="slideshowimage" style="margin-top: 30px;">

<div id="leftslide">
    <div id="aboutwithname">
    <H3>Spotlights plant</H3>
    <h1 id="plantnameinslideshow"> Citrus limon</h1>
</div>
<P id="descrption" style="height:58px ; overflow: hidden">Citrus limon  small evergreen tree with a rounded habit and fragrant white flowers. a cross betweenCitrus × aurantium and
     Citrus medica. It prefers moist, sandy loam, acidic soils.</P>

<table  style="border-collapse: collapse;" >
    <tr><td><h2>Arabic name:</h2>   </td> <td id="arabic">الليمون</td> <td><h2>French Name:</h2>  </td> <td id="french"> SIT-rus LEE-mon</td></tr>
    <tr><td> <h2>Plant type:</h2>  </td> <td id="planttype">Tree</td> <td><h2>Origin:</h2>  </td> <td id="orgin"> Asia</td></tr>
</table>
  </div>  
  <form action="/myprofile" id='forms' method="get">
       <input type="text" name="plantname" id="output" style="display:none" >
  </form>
 <div id="rightslide"> <img src="images\plantsimages\chimonanthus.jpg" id="imgslide" style="height:300px ; border-radius: 50%;">
</div>
</div>
</div>








    <div class="w3hubs-footer">
        <div class="w3hubs-nav1">
            <ul>

                <li><a href="https://www.aub.edu.lb/Libraries/Services/Pages/Copyright.aspx">© Copyright</a></li>
                <li><a href="https://www.mongodb.com/">Citing the plant Database</a></li>
                <li><a href="acknolgement.html">Acknowledgments</a></li>
                <li><a href="contactus.html">Contact Us</a></li>
                  
            </ul>
        </div>
     </div>




</body>
</html>