<!DOCTYPE html>
<html >
<head>  
<title>my project</title>
  <link rel="stylesheet" href="home.css">
  <script src=""></script>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" type="text/css" href="font-awesome.min.css">
  <link rel="stylesheet" href="footer.css">
  <link rel="stylesheet" href="nav_search.css">
    

</head>
<body>
    <div class="flexbox"></div>
<header id="headpage">
    <a href="http://www.aub.edu.lb/fafs/Pages/default.aspx" class="logo">
        <img src="images/aub-log1.png">
        <span class="fontsmall">Landscape Design & Ecosystem Management</span>
        <span class="fontnormal">Faculty of Agriculture & Food Sciences</span>

    </a>

    <nav>
		<ul> 

			<li>
                <a href="/">Home <i class="icon-chevron-down"></i></a> 
				<ul>
					<li><a href="searchbyname.html" >Search By Name</a></li>
					<li><a href="plantidentifaction.html">Plant identfication</a></li>
                    <li><a href="editpage.html">Edit plant Database</a></li>
				</ul>
                <li><a href="about.html">About Us</a></li>
                <li><a href="usefulink.html">Useful Links</a></li>
			<li><a href="/imagegallary">Image Gallery</a></li>
	
			<li><a href="Popular_Plant_Categories.html">Popular Plant Categories</a></li>
			<li><a href="gloccery.html">Glossary</a></li>
			<li><a href="contactus.html">Contact</a></li>
		</ul>
	</nav>

    <div id="socialmedia">
        <a href="https://twitter.com/AUB_Lebanon?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a>
        <a href="https://www.facebook.com/aub.edu.lb/" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a>
        <a href="http://www.aub.edu.lb/Libraries/Pages/default.aspx" class="icon-button google-plus"><i class="icon-google-plus"></i><span></span></a>
    </div>

</header>    
<div id="mainimg"></div>   

<div id="part2flex">
    <div id="divofimges">

        <a href="searchbyname.html"> <div style="width :120px" class="searchtype" >
        <img src="images/search1.jpg" alt="" >
        <h3>Search By Name</h3>
        </div></a>
        <a href="plantidentifaction.html"> <div style="width :120px ;font-size: smaller;" class="searchtype">
            <img src="images/icon.png" alt="" srcset="">
            <h3>Plant identfication</h3>
        </div></a>
        <a href="editpage.html"><div style="width :120px" class="searchtype">
            <img src="images/edit.png" alt="" srcset="">
            <h3>Edit plant Database</h3>
        </div></a>
           
        </div>
<div id="searchengine" style="text-align: center;">
    <link rel="stylesheet" href="galary.css">
<form action="/imagegallary" id="submitform">
     Sort by : <select name="name" id=""  style="background-color: #6CB00B; margin-bottom: 5px;">
        <option value="scientific name">scientific name</option>
        <option value="common english name">common english name</option>
    </select> 









    <input type="text" name="planttype" id="inputfortype" style="display:none;">   
</form>

   
    <div class="wrapper">
        <!-- filter Items -->
        <nav>
          <div class="items">
            <span class="item " data-name="all">All</span>
            <span class="item" data-name="bag">Cactus</span>
            <span class="item" data-name="shoe">Groundcover</span>
            <span class="item" data-name="watch">Lawn</span>
            <span class="item" data-name="headphone">Shrub</span>
            <span class="item" data-name="watch">Tree</span>
            <span class="item" data-name="camera">Vine</span>
          </div>
        </nav>
        <!-- filter Images -->
        
         
        <div class="gallery">
            <% for (var i = 0; i < plants.length; i++) { %>
            <div class="image" data-name="bag"><span><img src='images\plantsimages\<%= plants[i].common_name%>.jpg'  alt=""></span ><p  ><b><%= plants[i].common_name %></b> (<%= plants[i].scientific_name %>) </p> </div> 
             <% } %>
        </div>
      </div>

   

    <script src="galary.js"></script> 
   
   <span style="font-size:larger; font-weight:bold;">maxium # of pictures:</span> <input style="width:60px" type="number" name="" id="showmore" style="background-color: #6CB00B;">
	</div>
   
	</div>









</div>


    <div class="w3hubs-footer">
        <div class="w3hubs-nav1">
            <ul>

                <li><a href="https://www.aub.edu.lb/Libraries/Services/Pages/Copyright.aspx">© Copyright</a></li>
                <li><a href="https://www.mongodb.com/">Citing the plant Database</a></li>
                <li><a href="acknolgement.html">Acknowledgments</a></li>
                <li><a href="contactus.html">Contact Us</a></li>
                  
            </ul>
        </div>
     </div>




</body>
</html>