
    #searchengine  nav ul
    {
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        box-sizing: border-box;
        
    }
    
    #searchengine  nav li
    {
        margin: 0;
        padding: 0;
        float: left;	
        position: relative;	
        background-color: #6CB00B;
    }
    
    #searchengine nav a 
    {   margin-left: 15px;
        padding: 10px 20px;
        cursor: pointer;

        background: white;
        font-family: 'Tahoma';
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 400;
        color: #0F0F0F;
        text-align: center;
        text-decoration: none;	
        transition: all .25s ease;
    }
    
    #searchengine  nav li:hover a
    {
        background-color: #6CB00B;
    }
    
   
   