<!DOCTYPE html>
<html >
<head>
  <link rel="stylesheet" href="searchbyname.css">
<title>search by name</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" type="text/css" href="font-awesome.min.css">
  <link rel="stylesheet" href="footer.css">

    

</head>
<body>
    <div class="flexbox"></div>
<header id="headpage">
    <a href="http://www.aub.edu.lb/fafs/Pages/default.aspx" class="logo">
        <img src="images/aub-log1.png">
        <span class="fontsmall">Landscape Design & Ecosystem Management</span>
        <span class="fontnormal">Faculty of Agriculture & Food Sciences</span>

    </a>

    <nav>
		<ul> 

			<li>
                <a href="/">Home <i class="icon-chevron-down"></i></a> 
				<ul>
					<li><a href="searchbyname.html" >Search By Name</a></li>
					<li><a href="plantidentifaction.html">Plant identfication</a></li>
                    <li><a href="editpage.html">Edit plant Database</a></li>
				</ul>
                <li><a href="about.html">About Us</a></li>
                <li><a href="usefulink.html">Useful Links</a></li>
			<li><a href="/imagegallary">Image Gallery</a></li>
	
			<li><a href="Popular_Plant_Categories.html">Popular Plant Categories</a></li>
			<li><a href="gloccery.html">Glossary</a></li>
			<li><a href="contactus.html">Contact</a></li>
		</ul>
	</nav>

    <div id="socialmedia">
        <a href="https://twitter.com/AUB_Lebanon?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a>
        <a href="https://www.facebook.com/aub.edu.lb/" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a>
        <a href="http://www.aub.edu.lb/Libraries/Pages/default.aspx" class="icon-button google-plus"><i class="icon-google-plus"></i><span></span></a>
    </div>

</header>    
<div id="mainimg"></div>   

<div id="part2flex">
    <div id="divofimges">

        <a href="searchbyname.html"> <div  class="searchtype" >
        <img src="images/search1.jpg" alt="" >
        <h3>Search By Name</h3>
        </div></a>
        <a href="plantidentifaction.html"> <div  class="searchtype">
            <img src="images/icon.png" alt="" srcset="">
            <h3>Plant identfication</h3>
        </div></a>
        <a href="editpage.html"><div  class="searchtype">
            <img src="images/edit.png" alt="" srcset="">
            <h3>Edit plant Database</h3>
        </div></a>
           
        </div>
<div id="searchengine">
    <h1 style="color:springgreen;"> Search Plants Alphabetically Or By Name</h1>

        <input type="text" name="searchtype" id="searchtype" style="display:none">

    <form action="/result" style="margin-top: 40px;" method="get" name="common">
        <H2 style="display: inline;">Common Name : </H2>   
        <input type="search"name="common_name" placeholder="Search here..."  class="search">
        <button type="submit" id="common">Search</button>
         </form>


    <form action="/result" style="margin-top: 40px;" method="get" name='science'>
        <H2 style="display: inline;">Scientific Name : </H2><input type="search" name="scientific_name" placeholder="Search here..."   class="search">
                <button type="submit" id="science">Search</button>
        </form>


        <form action="/result" style="margin-top: 40px;" method="get" name="alphabet">
            <H2 style="display: inline;"> Alphabetically: </H2>
            <select name="letter" id="">
                <option value="A">A</option><option value="B">B</option>
                <option value="C">C</option><option value="D">D</option><option value="E">E</option><option value="F">F</option>
                <option value="G">G</option><option value="H">H</option><option value="I">I</option>
                <option value="J">J</option><option value="K">K</option><option value="L">L</option><option value="M">M</option><option value="N">N</option>
                <option value="O">O</option><option value="P">P</option><option value="Q">Q</option>
                <option value="R">R</option><option value="S">S</option><option value="T">T</option>
                <option value="U">U</option><option value="V">V</option><option value="">W</option>
                <option value="X">X</option><option value="Y">Y</option><option value="Z">Z</option>
            </select>
            <button type="submit" id="alphabet">Search</button>
            </form>

            



            <img src="images\search12.png" alt="" srcset="">


        <div>
            
            
        </div>


	</div>






</div>
</div>


    <div class="w3hubs-footer">
        <div class="w3hubs-nav1">
            <ul>

                <li><a href="https://www.aub.edu.lb/Libraries/Services/Pages/Copyright.aspx">© Copyright</a></li>
                <li><a href="https://www.mongodb.com/">Citing the plant Database</a></li>
                <li><a href="acknolgement.html">Acknowledgments</a></li>
                <li><a href="contactus.html">Contact Us</a></li>
                  
            </ul>
        </div>
     </div>




</body>
</html>