<!DOCTYPE html>
<html >
<head>  
<title>usefull link</title>
  <link rel="stylesheet" href="home.css">
  
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" type="text/css" href="font-awesome.min.css">
  <link rel="stylesheet" href="footer.css">
  <link rel="stylesheet" href="nav_search.css">
  <link rel = "stylesheet" href = "list.css"> 
    

</head>
<body>
    <div class="flexbox"></div>
<header id="headpage">
    <a href="http://www.aub.edu.lb/fafs/Pages/default.aspx" class="logo">
        <img src="images/aub-log1.png">
        <span class="fontsmall">Landscape Design & Ecosystem Management</span>
        <span class="fontnormal">Faculty of Agriculture & Food Sciences</span>

    </a>

    <nav>
		<ul> 

			<li>
                <a href="/">Home <i class="icon-chevron-down"></i></a> 
				<ul>
					<li><a href="searchbyname.html" >Search By Name</a></li>
					<li><a href="plantidentifaction.html">Plant identfication</a></li>
                    <li><a href="editpage.html">Edit plant Database</a></li>
				</ul>
                <li><a href="about.html">About Us</a></li>
                <li><a href="usefulink.html">Useful Links</a></li>
			<li><a href="/imagegallary">Image Gallery</a></li>
	
			<li><a href="Popular_Plant_Categories.html">Popular Plant Categories</a></li>
			<li><a href="gloccery.html">Glossary</a></li>
			<li><a href="contactus.html">Contact</a></li>
		</ul>
	</nav>

    <div id="socialmedia">
        <a href="https://twitter.com/AUB_Lebanon?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a>
        <a href="https://www.facebook.com/aub.edu.lb/" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a>
        <a href="http://www.aub.edu.lb/Libraries/Pages/default.aspx" class="icon-button google-plus"><i class="icon-google-plus"></i><span></span></a>
    </div>

</header>    
<div id="mainimg"></div>   

<div id="part2flex">
    <div id="divofimges">

        <a href="searchbyname.html"> <div  class="searchtype" >
        <img src="images/search1.jpg" alt="" >
        <h3>Search By Name</h3>
        </div></a>
        <a href="plantidentifaction.html"> <div  class="searchtype">
            <img src="images/icon.png" alt="" srcset="">
            <h3>Plant identfication</h3>
        </div></a>
        <a href="editpage.html"><div  class="searchtype">
            <img src="images/edit.png" alt="" srcset="">
            <h3>Edit plant Database</h3>
        </div></a>
           
        </div>
<div id="searchengine" style="padding:30px">
   

    <div id="main">

        <div class ="bord">
        <h1 class = "head_ul"> Home Institution</h1> 
        <ul class = "useful_links">
            <li class = "list_it">
                <a href = "https://www.aub.edu.lb/">American University of Beirut</a>
            </li> 
        
            <li class = "list_it">
                <a href = "https://www.aub.edu.lb/fafs/ldem/Pages/default.aspx">Department of Landscape Design & Ecosystem Management</a>
            </li> 
        
            <li class = "list_it">
                <a href = "https://www.aub.edu.lb/nhm/Pages/herbarium.aspx">Post Herbarium</a>
            </li> 
        
            <li class = "list_it">
                <a href = "https://www.aub.edu.lb/Pages/PageNotFoundError.aspx?requestUrl=https://www.aub.edu.lb/units/natureconservation/PROGRAMS/POP/COMPONENTS/SOH/Pages/default.aspx">Seeds of Hope, Trees for Tomorrow</a>
            </li> 
        </ul>
        </div>  
        <div class ="bord">
        
        
        <h1 class = "head_ul">Useful links to other University plant database</h1> 
        <ul class = "useful_links">
        <li class = "list_it">
        <a href = "https://www.aub.edu.lb/">American University of Beirut</a></li> 
        
        <li class = "list_it">
        <a href = "https://www.aub.edu.lb/fafs/ldem/Pages/default.aspx">Department of Landscape Design & Ecosystem Management</a></li> 
        
        <li class = "list_it">
        <a href = "https://www.aub.edu.lb/nhm/Pages/herbarium.aspx">Post Herbarium</a></li> 
        
        <li class = "list_it">
        <a href = "https://www.aub.edu.lb/Pages/PageNotFoundError.aspx?requestUrl=https://www.aub.edu.lb/units/natureconservation/PROGRAMS/POP/COMPONENTS/SOH/Pages/default.aspx">Seeds of Hope, Trees for Tomorrow</a></li> 
        
        </ul>
        </div>
        <div class ="bord">
        <h1 class = "head_ul">Useful links to other University plant database</h1> 
        
        <ul class = "useful_links">
        <li class = "list_it">
        <a href = "https://plantdatabase.uconn.edu/">University of Connecticut</a></li> 
         
        <li class = "list_it">
        <a href = "http://www.edis.ifas.ufl.edu/topic_plants_a_to_z">University of Florida (EDIS)</a></li> 
        
        <li class = "list_it">
        <a href = "http://www.lyra.ifas.ufl.edu/FloridaTrees/index.html">University of Florida (Florida Trees)</a></li> 
        
        <li class = "list_it">
        <a href = "http://www.lyra.ifas.ufl.edu/FloridaTrees/index.html">University of Florida (Nothern Trees)(Florida Trees)</a></li> 
        
        <li class = "list_it">
        <a href = "about:blank">University of California, U.C Davis</a></li> 
        
        <li class = "list_it">
        <a href = "about:blank">Oregon State university</a></li> 
        
        <li class = "list_it">
        <a href = "about:blank">University of California, U.C Davis</a></li> 
        
        <li class = "list_it">
        <a href = "http://www.lebanon-flora.org/default.php?st_pl=20#news">Lebanon flora</a></li> 
        
        <li class = "list_it">
        <a href = "http://www.woodyplants.cals.cornell.edu/home">Cornell University</a></li> 
        
        </ul>
        </div> 
        
        <div class ="bord">
        <h1 class = "head_ul">Other Institutions/Societies</h1> 
        
        <ul class = "useful_links">
        <li class = "list_it">
        <a href = "about:blank">American University of Beirut</a></li> 
        
        <li class = "list_it">
        <a href = "https://www.aub.edu.lb/">Electronic Atlas of the Flora of British Columbia (E-Flora BC)</a></li> 
        
        <li class = "list_it">
        <a href = "http://www.apps.rhs.org.uk/rhsplantfinder/">Royal Horticultural Society Plant Finder</a></li> 
         
        <li class = "list_it">
        <a href = "about:blank">Missouri Botanical Garden</a></li> 
         
        <li class = "list_it">
        <a href = "https://www.aub.edu.lb/">PASCOA (Palm & Cycad Societies Of Australia)</a></li> 
        
        <li class = "list_it">
        <a href = "https://www.aub.edu.lb/">BBC Gardening</a></li> 
        
        <li class = "list_it">
        <a href = "https://www.aub.edu.lb/">Kew Botanic Gardens</a></li> 
         
        <li class = "list_it">
        <a href = "https://www.aub.edu.lb/">ABC Australia Gardening</a></li> 
         
        <li class = "list_it">
        <a href = "https://www.aub.edu.lb/">The Euro + Med database</a></li> 
         
        <li class = "list_it">
        <a href = "https://www.aub.edu.lb/">USDA plant database</a></li> 
        
        
        </ul> 
        </div> 
        
        <div class ="bord">
        <h1 class = "head_ul">Amateur Blogs/Magazines/Miscellaneous</a></h1> 
        
        
        <ul class = "useful_links">
        <li class = "list_it">
        <a href = "http://www.learn2grow.com/Plants/">Learn 2 grows</a></li> 
         
        <li class = "list_it">
        <a href = "https://www.aub.edu.lb/">Desert-Tropicals</a></li> 
         
        <li class = "list_it">
        <a href = "http://www.apps.rhs.org.uk/rhsplantfinder/">Dave's garden</a></li> 
         
        <li class = "list_it">
        <a href = "https://www.shootgardening.co.uk/plant/a-z">Shoot</a></li> 
         
        <li class = "list_it">
        <a href = "https://www.gardenguides.com/">Garden guides</a></li> 
        
        <li class = "list_it">
        <a href = "https://www.bhg.com/gardening/plant-dictionary/">Better homes and gardens (Magazine)</a></li> 
        
        <li class = "list_it">
        <a href = "https://www.ehow.com/ehow_home-plant-basics">E-how Gardening & plants/ Landscaping</a></li> 
        
        <li class = "list_it">
        <a href = "https://www.globalspecies.org/">Global species</a></li> 
        
        <li class = "list_it">
        <a href = "http://www.plantfinder.sunset.com/plant-home.jsp">Sunset</a></li> 
        
        <li class = "list_it">
        <a href = "https://floridata.com/index.cfm">Floridata</a></li> 
        
        <li class = "list_it">
        <a href = "http://www.floridayards.org/fyplants/">Florida Yards</a></li> 
        
        <li class = "list_it">
        <a href = "https://toptropicals.com/">Toptropical </li> 
        
        <li class = "list_it">
        <a href = "http://www.atreeaday.com/atreeaday/Welcome.html">A Tree a day</a></li> 
        
        <li class = "list_it">
        <a href = "https://www.deeproot.co.uk/pbo/index.html">Deeproot Plant Database</a></li> 
        
        <li class = "list_it">
        <a href = "http://www.gflora.com/index.php?cmd=genus">Gflora, Encyclopedia of Houseplants</a></li> 
         
        <li class = "list_it">
        <a href = "https://www.findmeplants.co.uk/fullquestionnaire.aspx">Find me plants</a></li> 
          
        </ul> 
        
        </div> 
        </div>


	</div>





</div>


    <div class="w3hubs-footer">
        <div class="w3hubs-nav1">
            <ul>

                <li><a href="https://www.aub.edu.lb/Libraries/Services/Pages/Copyright.aspx">© Copyright</a></li>
                <li><a href="https://www.mongodb.com/">Citing the plant Database</a></li>
                <li><a href="acknolgement.html">Acknowledgments</a></li>
                <li><a href="contactus.html">Contact Us</a></li>
                  
            </ul>
        </div>
     </div>




</body>
</html>